


{{ ansible_managed }}


This system {{ inventory_hostname }} was last updated on {{ ansible_date_time.day }} {{ ansible_date_time.month }} {{ ansible_date_time.year }} at {{ ansible_date_time.time }}

***  Authorised users only  ***



